.homePage {
  padding: 8rem 8rem;
}

.homePage h1{
  font-size:  5vw;
  font-weight: bold;
  background: -webkit-linear-gradient(-90deg, #ffff00, #0f0, #ffff00, #ffff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: texto 5s steps(110, end) alternate infinite;
  white-space: nowrap;
  border-right: 5px solid #ffff00
}

@keyframes texto {
  0%{
    width: 0;
    border-color: transparent;
  }
  50%{
    border-color: #fff;
  }
  100%{
    width: 100%;
    border-color: transparent;
  }
}